:root {
    --primary: #2D3142;
    --secondary: #4F5D75;
    --silver: #BFC0C0;
    --coral: #EF8354;
}



body {
    background-color: var(--primary);
    user-select: none;
}

.hidden {
    display: none !important;
}

.game-initializer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    font-size: 3.5rem;
    margin: 5px auto 120px;
    color: var(--silver);
}

.sign-text {
    font-size: 1.7rem;
    color: var(--silver);
    margin: 0 0 10px;
}

.p1-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border: 1px solid var(--secondary);
    border-radius: 15px;
    padding: 10px;
    background-color: var(--secondary);
    margin-bottom: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cross,
.circle {
    height: 60px;
    width: 50%;
    border: none;
    border-radius: 15px;
    font-size: 1.8rem;
    background-color: var(--secondary);
    color: var(--silver);
    transition: 0.3s ease-in;
}

.p1-sign button.active {
    background-color: var(--silver);
    color: var(--secondary);
}

.game-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: 100px;
}

.bot,
.players {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 15px;
    background-size: 150px;
    background-color: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bot {
    background-image: url(images/bot.png);
}

.players {
    background-image: url(images/players.png);
}

.bot.active,
.players.active {
    background-color: var(--silver);
    transition: 0.3s ease-in;
}

.bot.active {
    background-image: url(images/bot-active.png);
}

.players.active {
    background-image: url(images/players-active.png);
}

.game-type-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: 100px;
    margin: 10px 0 70px;
}

.vs-bot,
.vs-player {
    text-align: center;
    width: 150px;
    font-size: 1.2rem;
    color: var(--silver);
}

.start-game {
    padding: 20px;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: var(--secondary);
    color: var(--silver);
    transition: 0.2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.start-game:hover,
.start-game:active {
    background-color: var(--coral);
    color: var(--primary);
}

.sign-text,
.cross,
.circle,
.vs-bot,
.vs-player,
.start-game {
    font-weight: 600;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 40px);
}

.scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 35px 0 70px;
    width: 50%;
}

.scoreboard p {
    margin: 0;
    padding: 5px 0;
    font-weight: 600;
    text-align: center;
}

.player1,
.draws,
.player2 {
    width: 200px;
    border: 1px solid var(--secondary);
    border-radius: 15px;
    font-size: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.player1,
.player2 {
    background-color: var(--coral);
    color: var(--primary);
}

.draws {
    background-color: var(--secondary);
    color: var(--silver);
}

.turn-text {
    font-size: 2rem;
    margin-bottom: 40px;
}

.board-container {
    width: 316px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    grid-auto-flow: row;
    gap: 8px 8px;
}

.cell {
    border-radius: 15px;
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 8px;
    border: 1px solid var(--primary);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: var(--secondary);
    color: var(--silver);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.cell:hover {
    background-color: var(--coral);
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: 150px 0 0;
}

.buttons-container button {
    width: 120px;
    height: 50px;
    border: 1px solid var(--primary);
    border-radius: 15px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--secondary);
    color: var(--silver);
    transition: 0.3s ease-in;
}

.buttons-container button:hover {
    color: var(--primary);
    background-color: var(--coral);
}

@media screen and (max-width: 600px) {

    .game-initializer {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .title {
        margin-bottom: 15vh;  
    }

    .p1-sign {
        margin-bottom: 10vh;
    }

    .game-type,
    .game-type-text {
        gap: 20px;
    }

    .game-type-text {
        margin-bottom: 8vh;
    }

    .game {
        width: 100%;
        height: 100vh;
    }

    .scoreboard {
        margin-top: 20px;
        margin-bottom: calc(100% - 90%);
        width: 90%;
        gap: 5px;
    }

    .buttons-container {
        width: 95%;
        margin-top: calc(100% - 85%);
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .game-initializer {
        width: 100%;
    }

    .title {
        margin-bottom: 15vh;  
    }

    .p1-sign {
        margin-bottom: 10vh;
    }

    .game-type-text {
        margin-bottom: 8vh;
    }

    .game {
        width: 100%;
        height: 100vh;
    }

    .scoreboard {
        margin-top: 15px;
        margin-bottom: calc(100% - 90%);
        width: 90%;
    }

    .buttons-container {
        width: 50%;
        margin-top: calc(100% - 90%);
    }
} 